# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment directories
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Browser driver binaries
drivers/

# IDE files
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Local environment files
.env
.env.local

# Large data files (você pode adicionar isso se o arquivo for muito grande)
# devotionals.json 